@charset "ISO-8859-1";
.main{
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
}
.login{
	width:50%;
}
.register{
	width:50%;
	height:400px;
}
.input{
	background-color: white;	
}
.welcome{
	color:RGB(153, 0, 255);
}
.link{
	margin-left: 50%;
	text-align: center;
	margin-bottom: 2%;
	
}
.mytable{
	width:50%;
	margin-left:10%;
}
.successtitle{
	margin-left:10%;
	margin-top:2%;
	
}
.show-title{
	display:flex;
	justify-content: space-around;
}
.show{
	margin-left:13%;
}
.edit-delete{
	margin-left:13%;
	display:flex;
	justify-content: space-between;
	width:190px;
	height:190px;	
}
.delete{
	background-color: white;
}
.edit-form{
	margin-left:13%;
}
.edit{
	background-color: white;
}
.addform{
	margin-left:12%;
	text-align: left;
}